@media (max-width: 1276px) {
    html {
        font-size: 24px;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

div {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

html {
    font-size: 24px;
}

body {
    font-family: Arial, sans-serif;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
  
  
.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.input-container {
    margin-bottom: 10px;
}


/*
The style and the table formatting reference.
Reference: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l

*/
.data-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.data-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.data-table th,
.data-table td {
    padding: 12px 15px;
}


.data-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.data-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.data-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


